.section-stack {
  text-align: center;
  padding: 10rem; }

.technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 5rem;
  justify-items: center; }
  .technologies__icon {
    width: 8rem;
    cursor: pointer; }

.projects {
  text-align: center;
  padding: 10rem; }
  .projects__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
    grid-row-gap: 4.7rem;
    justify-items: center; }

.footer {
  padding: 10rem;
  padding-bottom: 0;
  font-size: 1.8rem;
  font-family: 'DM Sans', sans-serif;
  color: #42446E; }
  .footer__contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 0; }
  .footer__contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 50%;
    flex-wrap: wrap; }
  .footer__nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 6rem 0; }

.horizontal-line {
  background-color: rgba(102, 102, 102, 0.3);
  height: 3px;
  width: 100%;
  display: block; }

.logo-box {
  text-align: center;
  font-family: "Poppins", sans-serif; }
  .logo-box .logo {
    font-size: 3.5rem;
    letter-spacing: 2px; }
  .logo-box span {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    display: block; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading {
  font-family: "Poppins", sans-serif; }
  .heading--2 {
    font-weight: 700;
    font-size: 3.5rem;
    color: #42446E; }
  .heading--3 {
    font-weight: 500;
    font-size: 2.8rem;
    color: #000; }
  .heading--4 {
    font-weight: 400;
    font-size: 2rem;
    color: #666666; }

.mb-sm {
  margin-bottom: 1.7rem; }

.mb-md {
  margin-bottom: 6rem; }

.mb-lg {
  margin-bottom: 8rem; }

.mb-hg {
  margin-bottom: 20rem; }

.inline-list {
  display: flex;
  list-style: none; }
  .inline-list a:link,
  .inline-list a:visited {
    color: #42446E;
    text-decoration: none; }

.card {
  height: 56rem;
  width: 37rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .card__photo {
    width: 100%;
    height: 45%;
    object-fit: cover; }
  .card__details {
    padding: 2.8rem; }
    .card__details p {
      font-family: "Poppins", sans-serif;
      font-size: 1.8rem;
      font-weight: 300;
      color: #42446E;
      margin-bottom: 1.2rem; }
    .card__details span {
      display: inline-block;
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      color: #42446E;
      margin-bottom: 2.1rem; }
  .card__links {
    display: flex;
    justify-content: space-around; }
    .card__links a:link, .card__links a:visited {
      display: flex;
      align-items: center;
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      color: #000; }
    .card__links a img {
      width: 2rem;
      height: 2rem;
      margin-right: 1.2rem; }
  .card .disable-link:link, .card .disable-link:visited {
    pointer-events: none;
    color: #666666;
    text-decoration: none; }

.nav ul {
  flex-wrap: wrap; }

.nav li:not(:last-child) {
  margin-right: 5rem; }

.contact-icons {
  font-size: 3rem; }
  .contact-icons li:not(:last-child) {
    margin-right: 2rem; }
