.section-stack {
  text-align: center;
  padding: 10rem; }

.technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 5rem;
  justify-items: center; }
  .technologies__icon {
    width: 8rem;
    cursor: pointer; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading {
  font-family: "Poppins", sans-serif; }
  .heading--3 {
    font-weight: 700;
    font-size: 3.5rem;
    color: #42446E; }
  .heading--4 {
    font-weight: 400;
    font-size: 2rem;
    color: #666666; }

.mb-sm {
  margin-bottom: 4rem; }

.mb-md {
  margin-bottom: 6rem; }

.mb-lg {
  margin-bottom: 8rem; }

.mb-hg {
  margin-bottom: 20rem; }
