.header {
  display: flex;
  align-items: center;
  padding: 3rem;
  max-width: 120rem;
  margin: auto;
  position: relative;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: #42446E; }
  .header .logo-box {
    margin-right: auto; }
  @media only screen and (max-width: 48em) {
    .header nav {
      display: none; } }

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 3rem;
  max-width: 120rem;
  margin: auto; }
  .about__name {
    background-image: linear-gradient(to right, #00C0FD, #6d5dde);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .about__profile-picture {
    background: linear-gradient(to bottom, #E70FAA, #00C0FD) border-box;
    border-radius: 50em;
    border: 8px solid transparent;
    width: 35rem;
    height: 35rem; }
  @media only screen and (max-width: 53.7em) {
    .about {
      flex-direction: column;
      text-align: center; }
      .about__profile-picture {
        order: -1;
        margin-bottom: 4rem;
        width: 25rem;
        height: 25rem; } }

.stack {
  text-align: center;
  padding: 10rem 0;
  max-width: 120rem;
  margin: auto; }
  .stack__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 10rem;
    justify-items: center; }
  .stack__icon {
    width: 8rem;
    cursor: pointer; }

.projects {
  text-align: center;
  padding: 10rem 0rem;
  max-width: 120rem;
  margin: auto; }
  .projects__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: 4.7rem;
    justify-items: center; }

.footer {
  padding: 0 3rem;
  font-size: 1.8rem;
  max-width: 120rem;
  margin: auto;
  margin-top: 6rem;
  font-family: "Poppins", sans-serif;
  color: #42446E; }
  .footer__contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 0; }
  .footer__contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60rem; }
  .footer__nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0; }
  @media only screen and (max-width: 50em) {
    .footer__contact-box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0; }
    .footer__contact-list {
      flex-direction: column;
      justify-content: flex-start;
      width: 60%;
      margin: 2rem 0; }
      .footer__contact-list li {
        margin: 1rem 0; }
    .footer__nav-box {
      flex-direction: column;
      text-align: center; }
      .footer__nav-box nav {
        display: none; } }

.horizontal-line {
  background-color: rgba(102, 102, 102, 0.3);
  height: 3px;
  width: 100%;
  display: block; }

.logo-box {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #E70FAA, #00C0FD);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }
  .logo-box .logo {
    font-size: 3.5rem;
    letter-spacing: 2px; }
  .logo-box span {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    display: block; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56%; } }
  @media only screen and (max-width: 56em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

.heading {
  font-family: "Poppins", sans-serif; }
  .heading--1 {
    font-weight: 700;
    font-size: 3.8rem;
    color: #42446E; }
  .heading--2 {
    font-weight: 700;
    font-size: 3.5rem;
    color: #42446E; }
  .heading--3 {
    font-weight: 500;
    font-size: 2.6rem;
    color: #000; }
  .heading--4 {
    font-weight: 400;
    font-size: 2rem;
    color: #666666; }

.mb-sm {
  margin-bottom: 1.7rem; }

.mb-md {
  margin-bottom: 6rem; }

.mb-lg {
  margin-bottom: 8rem; }

.mb-hg {
  margin-bottom: 20rem; }

.inline-list {
  display: flex;
  align-items: center;
  list-style: none; }
  .inline-list a:link,
  .inline-list a:visited {
    color: #42446E;
    text-decoration: none; }

.card {
  height: 52rem;
  width: 34rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.15); }
  .card__photo {
    width: 100%;
    height: 45%;
    object-fit: cover; }
  .card__details {
    padding: 2.8rem; }
    .card__details p {
      font-family: "Poppins", sans-serif;
      font-size: 1.8rem;
      font-weight: 300;
      color: #42446E;
      margin-bottom: 1.2rem; }
    .card__details span {
      display: inline-block;
      font-family: "Poppins", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: #42446E;
      margin-bottom: 2.1rem; }
  .card__links {
    display: flex;
    justify-content: space-around; }
    .card__links a:link, .card__links a:visited {
      display: flex;
      align-items: center;
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      color: #000; }
    .card__links a img {
      width: 2rem;
      height: 2rem;
      margin-right: 1.2rem; }
  .card .disable-link:link, .card .disable-link:visited {
    pointer-events: none;
    color: #666666;
    text-decoration: none; }

.nav li:not(:last-child) {
  margin-right: 5rem; }

@media only screen and (max-width: 48em) {
  .one,
  .two,
  .three {
    background-color: #00C0FD;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition: all .2s; }
  .menu-toggle {
    width: 40px;
    height: 30px;
    top: 27px;
    right: 36px;
    position: absolute; }
  .menu-section.on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #00C0FD, #6d5dde);
    display: flex;
    justify-content: center;
    align-items: center; }
  .menu-section.on nav {
    margin-top: -1.5rem;
    display: block; }
  .menu-section.on .menu-toggle {
    position: absolute;
    top: 25px;
    right: 40px; }
  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px); }
  .menu-section.on .menu-toggle .two {
    opacity: 0; }
  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(9px, -9px); }
  .menu-section.on nav ul {
    text-align: center;
    display: block; }
    .menu-section.on nav ul li {
      margin-right: 0; }
    .menu-section.on nav ul ul {
      display: flex;
      justify-content: space-between; }
  .menu-section.on nav a {
    transition-duration: .5s;
    text-align: center;
    display: block;
    font-size: 3rem;
    line-height: 8rem;
    text-transform: uppercase;
    color: #fff; } }

.contact-icons {
  font-size: 3rem; }
  .contact-icons li:not(:last-child) {
    margin-right: 2rem; }
