*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px
  padding: 0 6rem;

  @media only screen and (max-width: 75em) {  // 1200px
    font-size: 50%; // 8px
  }

  @media only screen and (max-width: 56em) {  // 900px
    font-size: 43%; // 7px
  }
}

body {
  box-sizing: border-box;
}

//////////////////////////////
// TIPOGRAFIA

.heading {
  font-family: $font-display;
  
  &--1 {
    font-weight: 700;
    font-size: 3.8rem;
    color: $color-grey-dark
  }
  
  &--2 {
    font-weight: 700;
    font-size: 3.5rem;
    color: $color-grey-dark
  }

  &--3 {
    font-weight: 500;
    font-size: 2.6rem;
    color: $color-black
  }

  &--4 {
    font-weight: 400;
    font-size: 2rem;
    color: $color-grey-light
  }
}

//////////////////////////////
// CLASSES UTILITÁRIAS

.mb-sm { margin-bottom: 1.7rem };
.mb-md { margin-bottom: 6rem };
.mb-lg { margin-bottom: 8rem };
.mb-hg { margin-bottom: 20rem };

.inline-list {
  display: flex;
  align-items: center;
  list-style: none;

  a:link,
  a:visited {
    color: $color-grey-dark;
    text-decoration: none;
  }
}