.header {
  display: flex;
  align-items: center;
  padding: 3rem 15rem;

  font-size: 1.8rem;
  font-family: $font-display;
  color: $color-grey-dark;

  div {
    margin-right: auto;
  }

  nav {
    li {
      margin-right: 5rem;
    }
  }
}

.about {
  @include flex-total-center;
  padding: 8rem 15rem;

  &__name {
    background-image: linear-gradient(to right, $color-blue-light, $color-purple-light);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &__profile-picture {
    background: 
    linear-gradient(to bottom, $color-pink-light, $color-blue-light) border-box;
    border-radius: 50em;
    border: 8px solid transparent;
    width: 35rem;
    height: 35rem;
  }
}

.stack {
  text-align: center;
  padding: 10rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 5rem;
    justify-items: center;
  }

  &__icon {
    width: 8rem;
    cursor: pointer;
  }
}

.projects {
  text-align: center;
  padding: 10rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
    grid-row-gap: 4.7rem;
    justify-items: center;
  }
}

.footer {
  padding: 10rem;
  padding-bottom: 0;
  font-size: 1.8rem;
  font-family: $font-display;
  color: $color-grey-dark;

  &__contact-box {
    @include flex-total-center;
    flex-wrap: wrap;
    padding: 5rem 0;
  }

  &__contact-list {
    @include flex-total-center;
    flex: 0 0 50%;
    flex-wrap: wrap;
  }

  &__nav-box {
    @include flex-total-center;
    flex-wrap: wrap;
    padding: 6rem 0;
  }
}

.horizontal-line {
  background-color: rgba($color-grey-light, .3);
  height: 3px;
  width: 100%;
  display: block;
}

.logo-box {
  text-align: center;
  font-family: $font-display;
  background-image: linear-gradient(to right, $color-pink-light, $color-blue-light);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  .logo {
    font-size: 3.5rem;
    letter-spacing: 2px;
  }

  span {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    display: block;
  }
}