.header {
  display: flex;
  align-items: center;

  padding: 3rem 0;
  max-width: 114rem;
  margin: auto;
  position: relative;

  font-size: 1.8rem;
  font-family: $font-display;
  color: $color-grey-dark;

  .logo-box {
    margin-right: auto;
  }

  @media only screen and (max-width: 48em) {
    nav {
      display: none;
    }
  }
}

.about {
  @include flex-total-center;
  padding: 8rem 0;
  max-width: 114rem;
  margin: auto;

  &__name {
    background-image: linear-gradient(to right, $color-blue-light, $color-purple-light);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &__profile-picture {
    background:
    linear-gradient(to bottom, $color-pink-light, $color-blue-light) border-box;
    border-radius: 50em;
    border: 8px solid transparent;
    width: 35rem;
    height: 35rem;
  }

  @media only screen and (max-width: 43.7em) {
    flex-direction: column;
    padding: 4rem 0;
    text-align: center;

    &__profile-picture {
      order: -1;
      margin-bottom: 4rem;
      width: 25rem;
      height: 25rem;
    }
  }
}

.stack {
  text-align: center;
  padding: 10rem 0;
  max-width: 114rem;
  margin: auto;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 8rem;
    justify-items: center;
  }

  &__icon {
    width: 8rem;
    cursor: pointer;
  }
}

.projects {
  text-align: center;
  padding: 10rem 0;
  max-width: 114rem;
  margin: auto;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-gap: 4.7rem;
    justify-items: center;
  }
}

.footer {
  padding-top: 10rem;
  font-size: 1.8rem;
  max-width: 114rem;
  margin: auto;

  font-family: $font-display;
  color: $color-grey-dark;

  &__contact-box {
    @include flex-total-center;
    flex-wrap: wrap;
    padding: 5rem 0;
  }

  &__contact-list {
    @include flex-total-center;
    width: 60rem;
  }

  &__nav-box {
    @include flex-total-center;
    padding: 6rem 0;
  }

  @media only screen and (max-width: 45.9em) {
    &__contact-box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    &__contact-list {
      flex-direction: column;
      justify-content: flex-start;
      width: 60%;
      margin: 2rem 0;

      li {
        margin: 1rem 0;
      }
    }

    &__nav-box {
      flex-direction: column;
      text-align: center;

      nav {
        display: none;
      }
    }
  }
}

.horizontal-line {
  background-color: rgba($color-grey-light, .3);
  height: 3px;
  width: 100%;
  display: block;
}

.logo-box {
  text-align: center;
  font-family: $font-display;
  background-image: linear-gradient(to right, $color-pink-light, $color-blue-light);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  .logo {
    font-size: 3.5rem;
    letter-spacing: 2px;
  }

  span {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    display: block;
  }
}