.section-stack {
  text-align: center;
  padding: 10rem;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 5rem;
  justify-items: center;

  &__icon {
    width: 8rem;
    cursor: pointer;
  }
}