// VARIÁVEIS DE FONTE
$font-display: 'Poppins', sans-serif;

// VARIÁVEIS DE CORES
$color-grey-dark: #42446E;
$color-grey-light: #666666;

$color-blue-light: #00C0FD;
$color-purple-light: #6d5dde;

$color-pink-light: #E70FAA;


$color-black: #000;
