.nav {

  li {
    &:not(:last-child) {
      margin-right: 5rem;
    }
  }
}

//////////////////////////////
// MENU HAMBURGUER
@media only screen and (max-width: 48em) {
  .one,
  .two,
  .three {
    background-color: $color-blue-light;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition: all .2s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    top: 27px;
    right: 36px;
    position: absolute;
  }

  // fullscreen
  .menu-section.on {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(to bottom right, $color-blue-light, $color-purple-light);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    margin-top: -1.5rem;
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    top: 25px;
    right: 40px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(9px, -9px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
    
    li {
      margin-right: 0;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }
  }

  .menu-section.on nav a {
    transition-duration: .5s;
    text-align: center;
    display: block;
    font-size: 3rem;
    line-height: 8rem;
    text-transform: uppercase;
    color: #fff;
  }
}